<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

    <div id="container">
        <h1>&lt;<%= title %>&gt;</h1>
        <h2>tomtonner@hotmail.co.uk</h2>
        <div id="socialMedia">
            <a target= blank href="https://github.com/tbtonner" class="fab fa-github"></a>
            <a target= blank href="https://www.linkedin.com/in/tom-tonner-232167107/" class="fab fa-linkedin"></a>
            <a target= blank href="https://www.facebook.com/tom.boyd.tonner" class="fab fa-facebook"></a>
            <a target= blank href="https://twitter.com/TB_Tonner" class="fab fa-twitter"></a>
            <a target= blank href="https://drive.google.com/file/d/1_sGEzQUk1WXFI5BMtjMLHG0io2YKV96x/view"><i class="fas fa-file-alt"></i></a>
        </div>
    </div>

    </body>
</html>
